*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
/* .container{
  width: 100%;
  height: 100%;
} */
.header{
  text-align: center;
  margin-top: 30px;
  display: inline;
}
.row-images{
  margin-left: 30px;
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto auto;


  

}

p{
  font-size: 18px;
  color: cornflowerblue;
}